
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(238, 210, 161);
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

button {
  margin: 0 10px;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

main {
  margin: 20px;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: #5a5c05;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: rgb(133, 70, 70) !important;
}

.full-stack{
  text-align: center;
  color: rgb(44, 31, 14);
}
